<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>session</title>
</head>
<body>
  ただいまのアクセス回数:<%= cnt %>回
  
</body>
</html>